<div class="container">
  <div class="header">
    <h1 id="elementeEl">Aqui você consegue a melhor proposta!</h1>
  </div>
  <div class="body">
    <div>
      <h1>
        Está querendo simular um empréstimo?<br />
        Com a gente você tem a sua <b>resposta em poucos minutos!</b> Preencha o
        formulário e confira!
      </h1>
      <p>
        O Cred é um sistema que permite ao usuário acompanhar o seu
        crédito e o seu gasto. O usuário pode cadastrar o valor do seu crédito e
        o valor do seu gasto. Use seu carro ou sua casa para ter as melhores
        condições de crédito do mercado. Você consegue até 100.000 R$ para pagar
        em até 48 mesês. Faça uma simulação e comprove.
      </p>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Faça sua simulação</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input
              matInput
              ngModel
              type="text"
              name="nome"
              placeholder="Digite seu Primeiro Nome"
            />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sobrenome</mat-label>
            <input
              matInput
              ngModel
              name="sobrenome"
              placeholder="Digite seu Sobrenome"
            />
          </mat-form-field>

          <mat-form-field
            class="example-full-width"
            appearance="fill"
            floatLabel="always"
          >
            <mat-label>Insira o valor que deseja</mat-label>
            <input
              matInput
              ngModel
              name="valorTotal"
              min="1000"
              max="100000"
              type="number"
              class="example-right-align"
              placeholder="Digite o valor que deseja"
            />
            <span matPrefix>R$&nbsp;</span>
          </mat-form-field>
          <mat-form-field
            class="example-full-width"
            appearance="fill"
            floatLabel="always"
          >
            <mat-label>Insira as parcelas</mat-label>
            <input
              matInput
              ngModel
              name="quantidadeParcelas"
              min="12"
              max="48"
              type="number"
              class="example-right-align"
              placeholder="Insira suas parcelas"
            />
            <span matPrefix>&nbsp;</span>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">
            Simular empréstimo
          </button>
        </form>
        <div class="envioButton"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <app-after-simulate ngValue="dadosSimulados" *ngIf="simulado" class="simulado"></app-after-simulate>
</div>
