<h1 mat-dialog-title>Você deseja finalizar sua solicitação?</h1>
<div mat-dialog-content>
valor
  <!-- <table>
    <thead>
      <tr>
        <th>Nome Item</th>
        <th>Simulado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nome Completo</td>
        <td>{{ this.dados.nome }} {{ this.dados.sobrenome }}</td>
      </tr>
      <tr>
        <td>Valor Emprestado</td>
        <td>{{ this.dados.valorTotal }}</td>
      </tr>
      <tr>
        <td>Quantidade de Parcelas</td>
        <td>{{ this.dados.valorParcela }}</td>
      </tr>
      <tr>
        <td>Valor das Parcelas</td>
        <td>{{ this.dados.quantidadeParcelas }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>{{ this.dados.valorTotalParcelas }}</td>
      </tr>
    </tfoot>
  </table> -->
</div>
