<mat-card
  ><h1 mat-dialog-title>Você deseja finalizar sua solicitação?</h1>
  <div mat-dialog-content>
    <table>
      <thead>
        <tr>
          <th>Nome Item</th>
          <th>Simulado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nome Completo</td>
          <td>
            {{ this.dadosSimulados.nome }} {{ this.dadosSimulados.sobrenome }}
          </td>
        </tr>
        <tr>
          <td>Valor Emprestado</td>
          <td>{{ this.dadosSimulados.valorTotal }}</td>
        </tr>
        <tr>
          <td>Quantidade de Parcelas</td>
          <td>{{ this.dadosSimulados.quantidadeParcelas }}</td>
        </tr>
        <tr>
          <td>Valor das Parcelas</td>
          <td>{{ this.dadosSimulados.valorParcela.toFixed(2) }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td>{{ this.dadosSimulados.valorTotalParcelas }}</td>
        </tr>
      </tfoot>
    </table>

  </div>
  <button mat-raised-button color="primary" (click)="popup()">
    Voltar ao Inicio
  </button>
</mat-card>
